.table-container {
    margin-top: 20px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 1px solid #000000;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #000000;
}

th {
    background-color: #333333;
    color: #ffffff;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #dddddd;
}

.form-container {
    margin-top: 20px;
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333333;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #555555;
}

.hidden {
    display: none;
}

#cancel-edit {
    background-color: #ff6666;
    margin-left: 10px;
}

#cancel-edit:hover {
    background-color: #ff3333;
}